@font-face {
  font-family: "MyYuGothicM";
  font-weight: normal;
  src: local("YuGothic-Medium"),
    local("Yu Gothic Medium"),
    local("YuGothic-Regular");
}
@font-face {
  font-family: "MyYuGothicM";
  font-weight: bold;
  src: local("YuGothic-Bold"),
    local("Yu Gothic");
}

html {
 font-family:
 -apple-system,
 BlinkMacSystemFont,
 "Hiragino Kaku Gothic ProN",
 MyYuGothicM,
 Meiryo,
 sans-serif;
}

body {
  font-family: Raleway, "筑紫A丸ゴシック","Tsukushi A Round Gothic";
}

header {
  padding: 0 0 15px !important;
  background: #fff;
}

.header-navbar {
  margin: 20px 0;
}
a .navbar-brand {
  color: #333333;
  padding-top: 0;
}
a:hover,
a:focus,
a:active {
  color: black !important;
}

header {
  background-color: #fff;
  width: 100%;
  top: 0;
  left: 0;
  position: fixed;
  z-index: 1;
}
.header_logo {
  margin: 0 120px 0 45px;
}

.shoot_logo {
  margin-top: 5px;
}

.brand-name {
  margin: 0 15px;
}

.logo_name {
  font-family: Raleway;
	font-size: 18px;
	font-weight: 500;
	letter-spacing: 2px;
  line-height: 22px;
	text-align: left;
	color: #4a4a4a;
  margin-left: 15px;
}

.navbar-nav li a {
  font-family: "ヒラギノ角ゴ", "Hiragino Kaku Gothic"
}
